<div>
    Aca vamos a mostrar las cosas
</div>

        <div style="width: 50%;">
        <h1>Productos</h1>
        <div>
            <ol id="products">

            </ol>
        </div>
    </div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>